/* div {
  background-color: blue;
  margin-top: 10px;
} */
/* p {
  background-color: aqua;
  color: brown;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */
/* h4 {
  border: 2px solid violet;
} */

/* selectors */

/* #div1 {
  background-color: blue;
  margin-top: 10px;
}
#div2 {
  background-color: rosybrown;
  padding: 16px;
/* } */
/* .div1 {
  background-color: rgba(0, 0, 255, 0.345);
  margin-top: 10px;
  margin-top: 16px;
}
#div3 {
  border: 2px double green;
  font-family: "Courier New", Courier, monospace;
} */

* {
  background-color: aqua;
} 
/* universal selector */
