.container {
  height: 400px;
  width: 90%;
  border: 2px solid black;
  background-color: aqua;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.child {
  border: 1px solid red;
  padding: 8px;
  width: 150px;
}

@media (max-width: 611px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 800px) {
  .container {
    align-items: start;
  }
}
