* {
  margin: 0px;
  padding: 0px;
}
.nav {
  height: 70px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ed1d1d9e;
}
.porticon {
  /* border: 2px solid red; */
  padding: 16px;
  font-style: italic;
  font-weight: bolder;
}
.restiocn {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-around;
  width: 70%;
  font-size: 20px;
  align-items: center;
  /* font-weight: bold; */
  cursor: pointer;
  padding: 16px;
}
/* .home {
}
.about {
}
.projects {
} */
.hireme {
  background-color: black;
  color: white;
  /* padding: 6px; */
  border-radius: 2ch;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.hireme:hover {
  text-decoration: underline;
  padding: 2px;
}
.author_image {
  border-radius: 49px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  width: 293px;
  height: 482px;
  flex-shrink: 0;
}
.main {
  margin: 32px;
  display: flex;
  gap: 144px;
  /* border: 2px solid; */
  width: 90vw;
  padding: 16px;
  justify-content: center;
  margin-left: 47px;
}
.main_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.main_name {
  color: #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main_desc {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main_tagline {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
}
.main_desc {
  font-style: italic;
  font-size: 20px;
  margin-bottom: 16px;
}
.buttons {
  display: flex;
  gap: 8rem;
  /* border: 2px solid; */
}
.btn {
  display: flex;
  gap: 1rem;
  background-color: #ed1d1d9e;
  padding: 8px;
  color: #fff;
  font-family: Mplus 1p Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  gap: 32px;
}
.mainpanel {
  display: flex;
  justify-content: space-evenly;
}
.project {
  width: 285px;
  height: 160px;
  flex-shrink: 0;
  border: 2px solid black;
}
.projdecs {
  width: 285px;
  height: 160px;
  flex-shrink: 0;
  border: 2px solid black;
}
.leftpanel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid; */
  height: 100vh;
}
.project {
  background: #d9d9d9;
}
.rightpanel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid; */
  height: 100vh;
}
.projdecs {
  background: #d9d9d9;
}
