* {
  margin: 0px;
  padding: 0px;
}
.nav {
  display: flex;
  height: 60px;
  background-color: #0f1111;
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: center; */
}
.logo {
  height: 50px;
  width: 120px;
  /* border: 2px solid red; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1IRNXk04_6QwSy9uFhAAG6RzqXqNnzyQf0g&usqp=CAU");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: 10px;

  /* border: 2px solid red; */
}
.deliver {
  color: white;
  display: flex;
  margin-left: 50px;
  gap: 7px;
}
.delloc i {
  margin-top: 16px;
}
.maininput {
  display: flex;
  height: 40px;
  border: none;
  border-top: 1px solid transparent;
  background: #fff;
  font-size: 14px;
  /* border: 2px solid red; */
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  align-items: center;
  /* padding: 4px; */
}
.amazonsearch {
  width: 50rem;
  height: 37px;
  font-size: 16px;
  /* padding: 2px; */
}
.all select {
  height: 40px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  /* padding: 16px; */
}

.searchincon {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 188, 14, 0.765);
}
.signin {
  color: #fff;
}
.return {
  color: #fff;
}
/* .cart {
  margin-top: 26px;
} */
/* .cart i {
  height: 50px;
  width: 90px;
} */
.cart_main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  /* border: 2px solid red; */
}
.cart_text {
  margin-top: 16px;
  margin-right: 20px;
  color: #fff;
  /* border: 2px solid red; */
}
.nav2 {
  display: flex;
  background-color: #152835;
  color: #fff;
  height: 39px;
  text-align: center;
  justify-content: flex-start;
  cursor: pointer;
}
.cotent {
  padding: 4px;
  margin-left: 8px;
}
p {
  margin-top: 4px;
}
.heroimage {
  height: 500px;
  background-image: url("https://m.media-amazon.com/images/I/61lwJy4B8PL._SX3000_.jpg");
  background-size: cover;
}
.hero {
  display: flex;
  flex-direction: column;
}
.herotext {
  display: flex;
  /* border: 2px solid red; */
  align-items: end;
  height: 70%;
  justify-content: center;
}
.herotext p {
  background-color: #fff;
  padding: 8px;
  width: 95%;
  margin-bottom: 16px;
  text-align: center;
}
